/Build/Behat/*
/Build/PhpCodesniffer/*
/Build/BuildEssentials
/Build/Reports
/Build/Resources
/Configuration/PackageStates.php
/Configuration/Production/*
/Configuration/Testing/*
/Configuration/Development/*
/Data/
!Packages
/Packages/*
!/Packages/Sites
/Web/
/bin/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat
