.columns {
	box-sizing: border-box;
	margin-left: -15px;
	margin-right: -15px;
	display: block;
	overflow: hidden;
}

.columns:before {
	display: table;
	content: " ";
}

.column {
	box-sizing: border-box;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.column--1 {
	width: 8.3333333333%
}

.column--2 {
	width: 16.6666666667%
}

.column--3 {
	width: 25%
}

.column--4 {
	width: 33.3333333333%
}

.column--5 {
	width: 41.6666666667%
}

.column--6 {
	width: 50%
}

.column--7 {
	width: 58.3333333333%
}

.column--8 {
	width: 66.6666666667%
}

.column--9 {
	width: 75%
}

.column--10 {
	width: 83.3333333333%
}

.column--11 {
	width: 91.6666666667%
}

.column--12 {
	width: 100%
}
